name: Simple Flutter Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        
    - run: sudo apt-get update
    - run: sudo apt-get install -y curl unzip
    - run: curl -L https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_3.13.9-stable.tar.xz | tar -C ~ -xJ
    - run: echo "$HOME/flutter/bin" >> $GITHUB_PATH
      
    - run: flutter pub get
    - run: flutter build apk --debug
      
    - uses: actions/upload-artifact@v4
      with:
        name: flutter-apk
        path: build/app/outputs/flutter-apk/
